$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;

$iconsmart-control: "\e900";
$iconmessenger: "\e901";
$iconproblem-solving: "\e902";
$iconsale-time: "\e903";
$iconverified: "\e904";
$iconcheck-mark1: "\e905";
$iconappleinc: "\eabe";
$iconandroid: "\eac0";
$iconwindows8: "\eac2";

