section.functions {
    .card {
        min-height: 280px;
        @include box_shadow;
        font-size: 0.95rem;
        border: none;
        &:hover {
            background: rgb(92, 35, 217);
            background: -moz-linear-gradient(
                90deg,
                rgba(92, 35, 217, 1) 0%,
                rgba(106, 102, 242, 1) 60%,
                rgba(4, 217, 196, 1) 100%
            );
            background: -webkit-linear-gradient(
                90deg,
                rgba(92, 35, 217, 1) 0%,
                rgba(106, 102, 242, 1) 60%,
                rgba(4, 217, 196, 1) 100%
            );
            background: linear-gradient(
                90deg,
                rgba(92, 35, 217, 1) 0%,
                rgba(106, 102, 242, 1) 60%,
                rgba(4, 217, 196, 1) 100%
            );
        }
        &:hover i {
            background: $primary_color;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &:hover h4,
        &:hover p {
            color: $primary_color;
        }
    }
    i {
        font-size: 40px;
        margin-bottom: 20px !important;
        background: rgb(92, 35, 217);
        background: linear-gradient(
            90deg,
            rgba(92, 35, 217, 1) 0%,
            rgba(106, 102, 242, 1) 35%,
            rgba(4, 217, 196, 1) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
